<div class="container" id="login">
  <form>
    <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
    <div *ngIf="!(authService.user | async)">

      <div class="form-group">
        <!-- <input type="text" [(ngModel)]="email" placeholder="email"> -->
        <label for="inputEmail">Email Address</label>
        <input type="email" name="email" class="form-control" id="inputEmail" [(ngModel)]="email" placeholder="email">
      </div>

      <div class="form-group">
        <!-- <input type="password" [(ngModel)]="password" placeholder="password"> -->
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword" [(ngModel)]="password" placeholder="password">
      </div>

      <!-- <button type="button" class="btn btn-primary" (click)="signup()" [disabled]="!email || !password">
        Signup
      </button> -->

      <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="!email || !password">
        Login
      </button>

      <button type="button" class="btn btn-primary" (click)="loginWithGoogle()">
        Login With Google
      </button>

      <a routerLink="/resetPassword">Forget Password?</a>
      <a routerLink="/register">Don't have an account?</a>
    </div>
  </form>
</div>

<button type="button" class="btn btn-primary" (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>